@model AppEventViewer.Models.EventRecListViewModel

@{
    ViewBag.Title = "Events from server nodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Filtered Events</h2>
<div id="container">
    <table  id="EventsTbl" border="0" cellpadding="0" cellspacing="0" class="pretty">
        <thead>
            <tr>
           <th class="EvRTime">
               Time
            </th>
                <th class="EvRCatergory">
                    Category
                </th>
                <th class="EvRServer">
                    Server
                </th>
                <th class="EvREventCode">
                    EventCode
                </th>
                <th class="EvREventType">
                    EventType
                </th>
                <th class="EvRInsMessage">
                    InsMessage
                </th>
                <th class="EvRLogfile">
                    Logfile
                </th>
                <th class="EvRMsg">
                    Msg
                </th>
                <th class="EvRRecordNr">
                    RecordNr
                </th>
                <th class="EvRSource">
                    Source
                </th>
                <th class="EvRType">
                    Type
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EventList)
            {
                <tr>
                                        <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Server)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsMessage)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Logfile)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Msg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecordNr)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
  

</div>

